html, body {
    height: 100%;
}

body {
    font: 16px / 1.42 'Roboto', Arial, sans-serif;
    color: #212121;
    /* Сглаживание шрифтов 
       Префиксы для движков у разных браузеров
    */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hero {
    height: 100vh;
    min-height: 650px;
    background: green;
    background: url(./img/bg/hero.jpg) no-repeat center/cover;
    position: relative;
}

/* Header */
.header {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail {
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.mail__title {
    margin-bottom: 3px; 
}

.mail__content {
    background-color: #212121;
    padding: 10px 45px;
    color: #fbb210;
}

/* Slider */
.fade-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 72%;
}

.fade-slider__item {
    background: url(./img/content/hero/slider_pic_1.png) center center / contain no-repeat;
    height: 100%;
}